.header {
    background-color: black;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__link {
    display: flex;
    padding-top: 40px;
}    

    &__text {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

    &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 48px;
    line-height: 1.26;
    letter-spacing: 0.05em;
    color: $primaryWhiteColor;
    }

    &__subtitle {
    max-width: 336px;
    font-weight: 400;
    font-size: 16px;    
    line-height: 1.62;
    letter-spacing: 0.02em;
    color: $TextColor;
    }
}

.header__container {
    margin: 0 auto;
    padding: 0px 31px;
    max-width: 480px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    position: absolute;
    top: 48px;
    right: 31px;
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-container {
    @media (max-width:767px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 337px;
    height: 100%;

    padding: 118px 0px 0px 40px;
    display: none;
    background: $primaryWhiteColor;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04),
    -2px 0px 4px rgba(0, 0, 0, 0.08),
    -1px 0px 3px rgba(0, 0, 0, 0.16);
    }
}

.menu-container.is-open {
    @media (max-width:767px) {
        display: block;
    }
}

.nav {
    &__item {
        list-style: none;
    }

    &__link {
        display: block;

        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.38;
        letter-spacing: 0.1em;
        color: $primaryTextColor;
    }

    @media (max-width:767px) {
        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin: 0;
            padding: 0;
        }
    }
}

.wrapper {
    padding-top: 112px;
    padding-bottom: 209px;
}

.tel {
    display: block;
    margin-top: 64px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $primaryTextColor;
}

.button {
    margin-top: 24px;
    padding: 12px 37px;

    border: 1px solid #FF6C00;
    border-radius: 25px;
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $primaryTextColor;
}

.social {
    &__list{
    margin-top: 64px;
    padding: 0;
    }

    &__item:not(:last-child) {
        margin-bottom: 24px;
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.35;
        letter-spacing: 0.2em;
        color: $primaryTextColor;
    }
}

.social__link:last-child::before{
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #303030;
}