.services {
background-color: #111319;
background-image: url(../images/prices.png), linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);;
background-repeat: no-repeat;
background-size: cover;    

    &__title {
        margin-bottom: 44px;
        
        font-family: 'Raleway', sans-serif; 
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.05em;
        color: $primaryWhiteColor;
    }
}

.txt--price {
    color: rgba(157, 164, 189, 0.6);

    &::before {
        background-color: rgba(157, 164, 189, 0.6);;
    }
}

.prices {
    &__list {
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
        padding: 30px 20px 30px 40px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        margin-bottom: 20px;
    }

    &__item::after {
        content: '';
        flex-grow: 1;
        margin: 0px 4px;

        height: 1px;
        background: rgba(157, 164, 189, 0.12);
    }

    &__text {
        line-height: 1.42;
        letter-spacing: 0.02em;
        color: $TextColor;
    }

    &__text:last-child {
        order: 1;
    }
}